<nav class="navbar navbar-expand-lg navbar-dark bg-dark font">
    <div class="container-fluid">
       
        <a class="navbar-brand textoo" href="/index">
            <img class ="img-responsive" src="../../../assets/Logo sub- Rejos Style-02.svg" alt="20" width="100" height="100" class="d-inline-block align-text-left">
            <b>FASHION STYLE</b>
          </a>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          
          <li class="nav-item image">
            <a class="nav-link" href="/tienda">
              <img class="img-responsive" src="../../../assets/tienda.svg" alt="20" width="30" height="30">
              Tienda</a>
          </li>
          <li class="nav-item image">
            <a class="nav-link" href="#">
              <img class="img-responsive" src="../../../assets/etiqueta-de-precio.svg" alt="20" width="30" height="30">
              Ofertas</a>
          </li>
          <li class="nav-item image">
            <a class="nav-link" href="/disigners">
              <img class="img-responsive " src="../../../assets/diseñadores.svg" alt="20" width="30" height="30">
              Diseñadores</a>
          </li>
         
          <li class="nav-item image">
            <a class="nav-link" href="">
              <img class="img-responsive " src="../../../assets/bag.svg" alt="20" width="30" height="30">
              Carrito</a>
          </li>
         
        
        
        </ul>
         <!-- Example single danger button -->
<div class="btn-group">
  <a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png" alt="" width="40" height="40"></a>
  <button type="button" class="btn btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
        
      </div>
    </div>
  </nav>